@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primario: #00dd80;
  --secundario: #0d0f11;
  --terciario: #ffffff;
  --cuarto: #848486;
  --fondo: #16161e;
  --fondo-hover: #242431;
  --danger: #ee5555;
  --warning: #e1c004;
  --border: #3a3a3a;
}

.bg-primary{
  background-color: var(--primario);
}

body {
  margin: 0;
  background: var(--secundario);
  min-width: 375px;
  max-height: 100%;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.main-background-color {
  background-color: var(--secundario);
}

.option-select-currency {
  color: var(--cuarto);
  cursor: pointer;
  padding-left: 15px;
  border-radius: 5px;
  @apply py-1
}
.option-select-currency:hover {
  color: var(--primario);
  background-color: #2c2e33;
}

.selected-ticker{
  background-color: var(--fondo-hover);
}

.ticker{
  background-color: var(--fondo);
}
.ticker:hover{
  background-color: var(--fondo-hover);
}

.arrow_box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.apexcharts-tooltip {
  background: var(--fondo-hover) !important;
  border:var(--fondo) !important;
  box-shadow: none !important;
  color: white;
}

.date-tooltip {
 font-size: 12px; 
 margin-bottom: 5px;
 color: var(--primario);
}

.crypto-ticker {
  min-height: 120px;
  @apply min-w-60 w-60
}

.carousel-items-wrapper {
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  @apply flex gap-2
}

@screen sm {
  .carousel-items-wrapper {
    overflow-x: scroll;
    @apply flex flex-row
  }
}

@screen md  {
  .carousel-items-wrapper {
    overflow-x: scroll;
    @apply flex flex-row
  }
}
@screen lg  {
  .carousel-items-wrapper {
    overflow-x: hidden; 
    overflow-y: scroll;
    height: 90vh;
    @apply flex flex-col
  }
  .crypto-ticker {
    @apply min-w-full w-full
  }
 
}

.slider{
  position: relative;
  width: 100%;
  height: 100%;
}
  
.slide{
  position: absolute;
  width: 100%;
  height: 30%;
  opacity: 0.5;
  transition: all 0.7s ease-out;
  background-color: var(--fondo);
  @apply p-5 rounded-2xl flex items-center gap-3 text-white
}

.slide.active{
  opacity: 1;
  z-index: 9;
}

.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 50px auto 0;
  width: 100%;
  height: 300px;
}

.prev{
  transform: translate(0, -40%) scale(0.9)
}
 
.next{
  transform: translate(0, 40%) scale(0.9)
}